.about {
  &-main-holder {
    background-color: var(--black);
    width: 100%;
    height: calc(100% - 38px);
    padding: 80px 150px;
    opacity: 0;
    animation: fadeIn 0.25s forwards;

    * {
      font-family: 'Consolas', monospace;
    }
  }

  &-title-holder {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 35px;

    & > svg {
      width: 35px;
      height: 35px;

      path {
        fill: var(--pastel-blue);
      }
    }

    & > h1 {
      font-size: 42px;
      color: var(--white);
      white-space: nowrap;
    }
  }
}