.file-card {
  &-holder {
    padding: 10px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    border-right: 1px var(--black) solid;
    background-color: var(--gray);
    user-select: none;
    transition: 0.25s ease;
    cursor: pointer;

    & > img {
      width: 15px;
      height: 15px;
    }

    & > span {
      font-size: 16px;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background-color: var(--black);

      & > span {
        color: var(--white);
      }

      .file-card-exit-icon {
        path {
          fill: var(--white);
        }
      }
    }
  }

  &-js-icon {
    path {
      fill: rgb(240, 219, 79);
    }
  }

  &-exit-icon {
    path {
      fill: rgba(255, 255, 255, 0.5);
      transition: 0.25s ease;
    }
  }
}